<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://android.com">
    <application
        android:allowBackup="true"
        android:label="Sahheh KeyBoard"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <activity
            android:name=".ProcessTextActivity"
            android:label="Sahheh KeyBoard"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest>
